Table {
    padding: 10px;
    margin: 10px;
    max-width: fit-content;
    align-self: center;
    width: 50%;
}

.Main{
    display: flex;
    align-content: center;
}

.editors{
    padding: 5px;
    margin: 5px;
}